.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.gridDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  /*padding: 1.5rem;*/
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #3b3d44;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 30rem;
}

.ActiveCard {
  cursor: pointer;
}

.ActiveCard:hover,
.ActiveCard:focus,
.ActiveCard:active {
  border-color: #484b52;
  background: #202125;
}

.CardText {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.cardDescription {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  /*.card,*/
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}

.LightText {
  color: #afafaf;
}

.DiscordTag {
  color: #b9bbbe;
}

.text-light {
  color: #d0d3d8;
}

.hover\:TextLight:hover {
  color: #b9bbbe;
}

.Link:hover {
  color: #c9cdd1;
}

.icon.outbound {
  position: relative;
  display: inline-block;
  color: #aaa;
  vertical-align: middle;
  top: -1px;
}

.Center {
  transform: translate(0%, 32%);
}

.FlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.PriceFlexItem {
  flex: 0 40% !important;
}

.FlexItem {
  flex: 0 26%;
}

.FlexContainer2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.FlexItem2 {
  flex: 0 20%;
}

.Role {
  background-color: #292b2f;
}

.Guild {
  max-width: 13rem;
  min-width: 13rem;
  max-height: 8rem;
  min-height: 8rem;
}

.SingleLineGuild {
  padding-top: 2rem;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
  color: #FFF;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3em;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3em;
}

@keyframes bblFadInOut {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em
  }

  40% {
    box-shadow: 0 2.5em 0 0
  }
}

.popup {
  animation: popup 0.5s 0s;
}

.popdown {
  animation: popup 0.5s 0s;
  animation-direction: reverse;
}

@keyframes popup {
  /* 0% {
    bottom: -10;
    opacity: 0;
  } */

  0% {
    bottom: 0;
    opacity: 0;
  }

  70% {
    bottom: 5;
  }

  100% {
    bottom: 10;
    opacity: 1;
  }
}

@keyframes popdown {
  /* 0% {
    bottom: -10;
    opacity: 0;
  } */

  0% {
    bottom: 10;
    opacity: 1;
  }

  70% {
    bottom: 5;
  }

  100% {
    bottom: 0;
    opacity: 0;
  }
}

.SideMenu {
  background-color: #1e1f22;
}

.MenuItem {
  background-color: #252629;
}

.Item {
  background-color: #1f2023;
}

.InputBuilder {
  border-color: #484b52 !important;
}

.InputBuilder:hover {
  border-color: #52565e !important;
}

.InputBuilder:active,
.InputBuilder:focus {
  border-color: #61656e !important;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

.hover\:fade-in:hover {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}